{% extends 'base/base.html' %}

{% block content %}
    <div class="main_div container">
        <h1>Reports:</h1>
        <ul class="main_div">
            <li><a href="#">Report by production</a></li>
            <li><a href="#">Report by area</a></li>
            <li><a href="#">Report by material</a></li>
            <li><a href="#">Report by user</a></li>
        </ul>
    </div>

    <div class="main_div container">
        <h1>User activities:</h1>
        <ul class="main_div">
            <li><a href="{% url 'list_users' %}">List users</a></li>
            <li><a href="{% url 'create_user' %}">Create user</a></li>
        </ul>
    </div>
{% endblock %}